/emulation/inc
/emulation/.d/
/emulation/.vscode/
/core/main
/core/.d/
/core/inc
/core/bin
/core/build/
/core/dist/
/core/nbproject/
/core/output
*.o
*.gch
*/lib
*.vscode
*.vscode
/.metadata/

*.cmake
CMakeCache.txt
Makefile
CMakeFiles
*.a
core/src/core
emulation/src/emulation
build/core
build/emulation