[Unit]
Description="LORIS dock"

[Install]
WantedBy=multi-user.target

[Service]
Type=exec
ExecStart=/home/root/service/launch-dock.sh
WorkingDirectory=/home/root
