[Unit]
Description="LORIS IPC daemon"

[Install]
WantedBy=multi-user.target

[Service]
Type=exec
ExecStart=/home/root/service/launch-ipc.sh
WorkingDirectory=/home/root
